<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido recebido!</title>
</head>
<body>
    <h1 style="border:solid; border-color: black; background-color: brown; color: aliceblue;">Pedido recebido!</h1>
    <br>
    <h3 > Olá, {{name}}! Você cadastrou um pedido?<h3>
    <br>    
    <p> Alguém acabou de cadastrar um pedido. Se não foi você, resete sua senha. <p> 
</body>
<footer>
    <p style="border-style: dotted; border-color: black; background-color: blue; flex: 100%; position:fixed; color:azure">Orgulhosamente criado pelos Bug's Busters!</p>
</footer>
</html>